body {
  background-color: #070707; /* Preto */
  color: red;
}

.app-container {
  position: relative; /* Definir a posição relativa para o container */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  width: 300px;
}

.todo-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative; /* Definir a posição relativa para cada item da lista */
  background-color: #444; /* Cor de fundo da caixa */
  border-radius: 5px; /* Borda arredondada da caixa */
  padding: 10px; /* Espaçamento interno da caixa */
}

.todo-list li span {
  flex-grow: 1;
}

.todo-list li button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: darkred;
}
